@model IEnumerable<AgenciaDeViagensRecodePro.Models.Hospedagem>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de hospedagem</h1>

<p>
    <a asp-action="Create">Nova hospedagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diarias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDiaria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diarias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDiaria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHospedagem"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdHospedagem"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdHospedagem"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
