@model AgenciaDeViagensRecodePro.Models.Pacote

@{
    ViewData["Title"] = "Delete";
}

<h3>Reamente deseja remover esse pacote?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkClienteIdClienteNavigation.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkClienteIdClienteNavigation.Nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkHospedagemIdHospedagemNavigation.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkHospedagemIdHospedagemNavigation.Nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkPassagemIdPassagemNavigation.DataPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkPassagemIdPassagemNavigation.DataPartida)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPacote" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a lista</a>
    </form>
</div>
