@model IEnumerable<AgenciaDeViagensRecodePro.Models.Pacote>

@{
    ViewData["Title"] = "Index";
}

<h1>Pacotes</h1>

<p>
    <a asp-action="Create">Criar novo pacote</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Promocional
            </th>
            <th>
                Cliente
            </th>
            <th>
                Hospedagem
            </th>
            <th>
                Destino
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkClienteIdClienteNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkHospedagemIdHospedagemNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkPassagemIdPassagemNavigation.LocalChegada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPacote">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPacote">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPacote">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
