@model AgenciaDeViagensRecodePro.Models.Passagem

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Passagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataChegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataChegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalPartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalChegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalChegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPassagem">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
